<p-card class="flex justify-content-center"  [style]="{ width: '100%',height:'100vh' }">

    <div class="flex flex-column justify-content-center align-items-center h-screen gap-2">
        <div>
            <img src="assets/success.png" alt="successLogo" width="150px">
        </div>
        <div class="text-lg">You're order has been placed successfully !</div>
        <div class="mt-4">
            <p-button label="Continue Shopping" styleClass="p-button-primary" routerLink="/"></p-button>
        </div>
    </div>
</p-card>