<div class="bar flex justify-content-between align-items-center">
  <form [formGroup]="smForm">
    <div class="sortBy">
      <div class="flex gap-2 align-items-center cursor-pointer">
        <i class="pi pi-sort-alpha-down"></i>
        <select
          (change)="sortBy($event)"
          class="p-5px"
          formControlName="sortBy"
        >
          <option selected>Sort By</option>
          <option *ngFor="let item of SortBy">{{ item }}</option>
        </select>
      </div>
    </div>
  </form>
  <div (click)="sidebarVisible2 = true" class="cursor-pointer">
    <i class="pi pi-filter"></i> Filter
  </div>
</div>

<div class="container">
  <div class="flex justify-content-end mb-4">
    <span class="p-input-icon-left">
      <i class="pi pi-search"></i>
      <input
        type="text"
        class="input-search"
        (input)="searchProductByNameOrCategory()"
        [(ngModel)]="searchTerm"
        pInputText
        placeholder="Search product by name or category"
      />
    </span>
  </div>

  <div class="grid mt-3">
    <div class="col-3 md:col-6 lg:col-4 xl:col-3 filter-left">
      <p-card header="Filters" [style]="{ cursor: 'pointer' }">
        <hr />

        <form [formGroup]="form">
          <div class="filters">
            <div class="categories p-1em">
              <h5>Categories</h5>
              <select
                class="p-2 mt-2 w-full"
                formControlName="categories"
                (change)="filterByCategory($event)"
              >
                <option selected>Select Category</option>
                <option *ngFor="let item of categoriesList">{{ item }}</option>
              </select>
            </div>
            <hr />

            <div class="prire-range p-1em">
              <h5>Price</h5>
              <div class="p-2">
                <div class="flex align-items-center gap-2">
                  <select
                    #MinPrice
                    class="p-5px"
                    formControlName="minSelect"
                    (change)="filterByPrice(MinPrice, MaxPrice)"
                  >
                    <option selected>Min</option>
                    <option *ngFor="let item of minPrice">
                      {{ item }}
                    </option>
                  </select>
                  <span>to</span>

                  <select
                    #MaxPrice
                    (change)="filterByPrice(MinPrice, MaxPrice)"
                    class="p-5px"
                    formControlName="maxSelect"
                  >
                    <option
                      *ngFor="let item of maxPrice"
                      [selected]="item === 'Rs 2000'"
                    >
                      {{ item }}
                    </option>
                  </select>
                </div>

                <div class="flex align-items-center gap-2 mt-2">
                  <select
                    class="p-5px"
                    #underPrice
                    (change)="filterProductUnderSelectedPrice(underPrice)"
                    formControlName="underSelect"
                  >
                    <option selected>Under</option>
                    <option *ngFor="let item of maxPrice">
                      {{ item }}
                    </option>
                  </select>
                </div>

                <div class="flex align-items-center gap-2 mt-2">
                  <select
                    class="p-5px"
                    #abovePrice
                    (change)="filterProductAboveSelectedPrice(abovePrice)"
                    formControlName="aboveSelect"
                  >
                    <option selected>Above</option>
                    <option *ngFor="let item of minPrice">
                      {{ item }}
                    </option>
                  </select>
                </div>
              </div>
            </div>
            <hr />

            <div class="Discount p-1em">
              <h5>Discount</h5>
              <div class="p-2 mt-2">
                <div class="flex align-items-center gap-2 mt-2">
                  <input
                    type="number"
                    (input)="filterByDiscount()"
                    (keydown.backspace)="filterByDiscount()"
                    [(ngModel)]="discountPrice"
                    [ngModelOptions]="{ standalone: true }"
                    pInputText
                    class="w-full text-sm"
                    placeholder="Enter discount %"
                  />
                </div>
              </div>
            </div>

            <hr />
            <div class="sortBy p-1em">
              <h5>Sort By</h5>

              <div class="p-2">
                <select
                  (change)="sortBy($event)"
                  class="p-5px"
                  formControlName="sortBy"
                >
                  <option selected>Sort By</option>
                  <option *ngFor="let item of SortBy">{{ item }}</option>
                </select>
              </div>
            </div>
          </div>
        </form>
      </p-card>
    </div>

    <div
      class="col-12 md:col-12 lg:col-8 xl:col-9 products"
      *ngIf="allProducts.length > 0"
    >
      <div class="grid">
        <div
          class="col-12 md:col-6 lg:col-6 xl:col-4"
          *ngFor="let item of allProducts"
        >
          <p-card
            class="flex justify-content-end px-1em products-card"
            [style]="{ width: '360px', height: '390px' }"
          >
            <h4 class="px-1em mb-3" title="{{ item.title }}">
              {{
                item.title.length > 20
                  ? item.title.slice(0, 20) + "..."
                  : item.title
              }}
            </h4>
            <ng-template pTemplate="header">
              <img alt="Card" class="product-img" src="{{ item.thumbnail }}" />
            </ng-template>

            <div class="px-1em">
              <div class="rating-badge">
                {{ item.rating }} <i class="pi pi-star"></i>
              </div>

              <div class="flex gap-3 align-items-center mt-2">
                <div class="price">Rs {{ item.discountPrice }}</div>

                <div class="discount">Rs {{ item.price }}</div>
              </div>

              <div class="discount-percentage mt-2">
                {{ item.discountPercentage }}% off
              </div>
            </div>
          </p-card>
        </div>
      </div>
    </div>

    <div
      class="col-12 md:col-12 lg:col-8 xl:col-9 p-card p-4 results-not"
      *ngIf="allProductsLength === 0"
    >
      <div class="not-found text-center">Sorry, no results found!</div>

      <div class="flex justify-content-center mt-3">
        <p-button
          label="Go Back"
          (onClick)="getAllProductLists(); goBack()"
        ></p-button>
      </div>
    </div>
  </div>
</div>

<!-- for mediun to small devices -->
<p-sidebar [(visible)]="sidebarVisible2" position="right">
  <h3 class="mt-4">Filters</h3>
  <hr />

  <form [formGroup]="smForm">
    <div class="filters">
      <div class="categories p-1em">
        <h5>Categories</h5>
        <select
          class="p-2 mt-2 w-full"
          (change)="filterByCategory($event)"
          formControlName="categories"
        >
          <option selected>Select Category</option>
          <option *ngFor="let item of categoriesList">{{ item }}</option>
        </select>
      </div>
      <hr />

      <div class="prire-range p-1em">
        <h5>Price</h5>
        <div class="p-2">
          <div class="flex align-items-center gap-2">
            <select
              #smMinPrice
              class="p-5px"
              formControlName="minSelect"
              (change)="filterByPrice(smMinPrice, smMaxPrice)"
            >
              <option selected>Min</option>
              <option *ngFor="let item of minPrice">
                {{ item }}
              </option>
            </select>
            <span>to</span>

            <select
              #smMaxPrice
              (change)="filterByPrice(smMinPrice, smMaxPrice)"
              class="p-5px"
              formControlName="maxSelect"
            >
              <option
                *ngFor="let item of maxPrice"
                [selected]="item === 'Rs 2000'"
              >
                {{ item }}
              </option>
            </select>
          </div>

          <div class="flex align-items-center gap-2 mt-2">
            <select
              class="p-5px"
              formControlName="underSelect"
              #smunderPrice
              (change)="filterProductUnderSelectedPrice(smunderPrice)"
            >
              <option selected>Under</option>
              <option *ngFor="let item of maxPrice">
                {{ item }}
              </option>
            </select>
          </div>

          <div class="flex align-items-center gap-2 mt-2">
            <select
              class="p-5px"
              #abovePrice
              formControlName="aboveSelect"
              (change)="filterProductAboveSelectedPrice(abovePrice)"
            >
              <option selected>Above</option>
              <option *ngFor="let item of minPrice">
                {{ item }}
              </option>
            </select>
          </div>
        </div>
      </div>

      <hr />

      <div class="Discount p-1em">
        <h5>Discount</h5>
        <div class="p-2 mt-2">
          <div class="flex align-items-center gap-2 mt-2">
            <input
            type="number"
            (input)="filterByDiscount()"
            (keydown.backspace)="filterByDiscount()"
            [(ngModel)]="discountPrice"
            [ngModelOptions]="{ standalone: true }"
            pInputText
            class="w-full text-sm"
            placeholder="Enter discount %"
          />
          </div>
        </div>
      </div>

      <hr />
    </div>
  </form>
</p-sidebar>
