/* You can add global styles to this file, and also import other style files */
@import "~primeng/resources/primeng.min.css";
@import "~primeng/resources/themes/saga-blue/theme.css";
@import "~primeflex/primeflex.css";
@import "~primeicons/primeicons.css";

* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

body {
  background-color: #f1f3f6;
  font-family: "Luxurious Roman", cursive;
  font-family: "Poppins", sans-serif;
}

.container {
  padding: 20px 100px;
}

select {
  font-family: "Luxurious Roman", cursive;
  font-family: "Poppins", sans-serif;
}

.p-inputtext {
  font-family: "Luxurious Roman", cursive;
  font-family: "Poppins", sans-serif;
}

p-toast{
  z-index: 999999999999;
}

.text-danger{
  color: red;
}

.p-rating .p-rating-icon.pi-star-fill {
  color: orange !important
}


// Small devices (landscape phones, less than 768px)
@media (max-width: 767.98px) {
  .products-card {
    justify-content: center !important;
  }

  .container {
    padding: 20px;
  }

  .nav-ul{
    box-shadow: none !important;
  }
}

// Large devices (desktops, 992px and up)
@media (min-width: 992px) {
  .bar {
    display: none !important;
  }
  .input-search {
    width: 400px !important;
    font-size: 16px;
  }
}

@media (max-width: 991.98px) {
  .filter-left {
    display: none;
  }

  .input-search {
    width: 400px !important;
    font-size: 14px;
  }

  .not-found{
    font-size: 1.3rem !important;
  }

  .nav-ul{
    box-shadow: none !important;
  }
}

// X-Small devices (portrait phones, less than 576px)
@media (max-width: 575.98px) {
  .input-search, .discount-input{
    width: 250px !important;
    font-size: 10px;
  }

  .not-found{
    font-size: 1rem !important;
  }
}
